{% extends "base.html" %}

{% block content %}
    <div class="hero hero-faq">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="container mt-4">
        <section>
            <div class="faq-item">
                <h2><i class="fa fa-question-circle" aria-hidden="true"></i> What is the purpose of this website?</h2>
                <p>The purpose of SaveTheBlu is to raise awareness about marine conservation and provide valuable information and resources related to marine life and environmental protection.</p>
            </div>
            <div class="faq-item">
                <h2><i class="fa fa-question-circle" aria-hidden="true"></i> How can I get involved in marine conservation?</h2>
                <p>You can contribute by volunteering, participating in local conservation projects, and making donations to support marine conservation efforts. Check our Volunteer and Donate pages for more details.</p>
            </div>
            <div class="faq-item">
                <h2><i class="fa fa-question-circle" aria-hidden="true"></i> Where can I find more information about marine laws?</h2>
                <p>Detailed information about marine laws and regulations can be found on our Marine Laws page, where we provide comprehensive details and guidelines for protecting marine environments.</p>
            </div>
            <!-- Add more FAQ items as needed -->
        </section>
    </div>
{% endblock %}
