{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>Welcome to SaveTheBlu's Privacy Policy page. We are committed to protecting your privacy. Here is how we handle your personal information:</p>
        <h2>1. Information We Collect</h2>
        <p>We collect information when you visit our website, register an account, or contact us. This may include your name, email address, and other personal details.</p>
        <h2>2. How We Use Your Information</h2>
        <p>We use your information to improve our services, communicate with you, and ensure the security of our website.</p>
        <h2>3. Data Security</h2>
        <p>We implement security measures to protect your data. However, no method of transmission over the internet or electronic storage is completely secure.</p>
        <h2>4. Changes to This Policy</h2>
        <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting the new policy on our website.</p>
        <h2>5. Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:support@savetheb.com">support@savetheb.com</a>.</p>
    </div>
{% endblock %}
